
@font-face {
  font-family: "CocogooseLight";
  src: local("CocogooseLight") ,
  url('./fonts/Cocogoose-Light.ttf') format('truetype');
}

@font-face {
  font-family: "CocogooseUltralight";
  src: local("CocogooseUltralight") ,
  url('./fonts/Cocogoose-Ultralight.ttf') format('truetype');
}

.logo {
  width: 180px;
  height: auto;
}

.font-face-cl {
  font-family: "CocogooseLight";
}

.font-face-cul {
  font-family: "CocogooseUltralight";
}

.formbg {
  background-image: url('./assets/form.jpg');
  height: 80vh;
  background-size: cover;
  background-position: center;
  
}

.font-60 {
  font-size: 60px;
}

thead th {
  font-size: 22px;
}

tr.fulfilled {
  color: rgba(92, 92, 92, 0.852);
}