
@font-face {
  font-family: "CocogooseLight";
  src: local("CocogooseLight") ,
  url('./fonts/Cocogoose-Light.ttf') format('truetype');
}

@font-face {
  font-family: "CocogooseUltralight";
  src: local("CocogooseUltralight") ,
  url('./fonts/Cocogoose-Ultralight.ttf') format('truetype');
}

.logo {
  width: 180px;
  height: auto;
}

.font-face-cl {
  font-family: "CocogooseLight";
}

.font-face-cul {
  font-family: "CocogooseUltralight";
}

.formbg {
  background-image: url('./assets/form2.jpg');
  height: 100%;
  background-size: cover;
  background-position: center;
  
}

.font-60 {
  font-size: 60px;
}

thead th {
  font-size: 22px;
}

tr.fulfilled {
  color: rgba(144, 144, 144, 0.852);
}

#order-table {
  border-collapse: collapse;
    width: 100%;
    border-radius: 15px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0px 0px 10px rgba(114, 114, 113, 0.5);
}

.padding{
  padding: 20px;
}